{% extends 'index.html' %}

{% block main-navigation %}
    {% include 'navigation.html' %}
{% endblock main-navigation %}

{%  load staticfiles %}

<!--Content
  ====================================================================================================================
  -->
{% block ts-content %}
    <div class="ts-content" data-bg-color="#0c0c0c">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block text-white pb-0">
            <div class="container">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span>Фото</span>
                    </span>
                    <br>
                    <span class="wrapper">
                        <span data-ts-delay=".1s">галлерея</span>
                    </span>
                </h1>
            </div>
        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content" class="text-white">

            <!-- GALLERY
            ============================================================================================================
            -->
            <section id="gallery_list" class="ts-block pb-5">
                <div class="container">
                    {% for album in albums %}
                        {% cycle 'odd' 'even' as rows silent %}
                        <!--start row-->
                        {% if rows == 'odd' %}
                            <div class="row ts-gallery">
                        {% endif %}
                    <!---->
                    <div class="col-md-6">
                        <div class="ts-group">
                            <a href="{{ album.url }}" class="card ts-gallery__item mb-3">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="{{ album.photo }}" alt="">
                                </div>
                            </a>
                            <div class="ts-gallery__item-description">
                                <h5 class="mb-0">
                                    <a href="#">{{ album.name }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!--end gallery item-->

                    {% if rows == 'even' or forloop.last %}
                        <!--end row-->
                        </div>
                    {% endif %}
                    {% endfor %}
                    <!--end gallery item-->
                </div>
            </section>

            <hr class="ts-hr-light">

            <!--FOOTER
            ================================================================================================================
            ================================================================================================================
            -->
            <footer id="ts-footer" class="bg-transparent">
                <section id="ts-footer-main">
                    <div class="container">

                        <div class="ts-title">
                            <h2>About Us</h2>
                        </div>

                        <div class="row">

                            <div class="col-md-5">
                                <p>
                                    Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum
                                    tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis, pharetra et
                                    nisl eu, pellentesque molestie erat
                                </p>
                                <a href="#" class="ts-link ts-underline mb-5 mb-md-0 d-inline-block">More About Us</a>
                            </div>

                            <div class="col-sm-6 col-md-4">
                                <address class="ts-text-muted---white">
                                    1565 Broadcast Drive
                                    <br>
                                    Dulles, VA 20166
                                    <br>
                                    <br>
                                    <strong>Tel:</strong> +1 703-996-1212
                                    <br>
                                    <strong>Email:</strong> <a href="#">hello@example.com</a>
                                    <br>
                                    <strong>Skype:</strong> <a href="#">wearepreus</a>
                                    <br>
                                </address>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <nav class="nav flex-column">
                                    <a class="nav-link" href="#">Home</a>
                                    <a class="nav-link" href="#">About us</a>
                                    <a class="nav-link" href="#">Portfolio</a>
                                    <a class="nav-link" href="#">Services</a>
                                    <a class="nav-link" href="#">Contact</a>
                                </nav>
                            </div>

                        </div>
                    </div>

                    <div class="ts-background ts-background-repeat ts-img-into-bg ts-opacity__50">
                        <img src="/static/themes/preus/assets/img/bg__pattern--dot--white.png" alt="">
                    </div>

                </section>

                <section>
                    <div class="container py-5">
                        <small>© 2019 Все права защищены</small>
                    </div>
                </section>

            </footer>
            <!--end #footer-->
    </div>
    <!--end page-->
{% endblock ts-content %}