{% extends 'index.html' %}
{% load staticfiles %}
{% load filters %}


{% block main-navigation %}
    {% include 'navigation.html' %}
{% endblock main-navigation %}


<!--Content
  ====================================================================================================================
  -->
{% block ts-content %}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span>{{ album.name }}</span>
                    </span>
                </h1>
                <h4>{{ album.description }}</h4>
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Works
            ============================================================================================================
            -->
            <section id="works">
                <div class="container-fluid px-0">
                    {% if not photos %}
                        <div class="container pt-2 pt-sm-5 pt-lg-0">
                            <h4>В этот альбом фотографии еще не добавлены</h4>
                        </div>
                    {% endif %}

                    {% for photo in photos %}
                        {% cycle 'odd' 'even' as rows silent %}
                        <!--start row-->
                        {% if rows == 'odd' %}
                            <div class="row no-gutters ts-gallery">
                        {% endif %}


                    <!---->
                    <div class="col-md-6 col-lg-6">
                        <a href="{{ photo.photo.url }}" class="card ts-gallery__item ts-floated-description popup-image"
                                {% if not forloop.first %}
                           data-delay="{{ forloop.counter|delays:'0.05' }}s"
                                {% endif %}
                           data-animate="ts-fadeInUp">
                            <div class="ts-gallery__item-description">
                                <h5>{{ photo.description }}</h5>
                                <h3>{{ photo.name }}</h3>
                            </div>
                            <div class="ts-background ts-img-into-bg">
                                <img src="{{ photo.photo.url }}" alt="">
                            </div>
                        </a>
                    </div>

                    <!--end gallery item-->
                    {% if rows == 'even' or forloop.last %}
                        <!--end row-->
                        </div>
                    {% endif %}
                    {% endfor %}
                    <!--end gallery item-->
                </div>
            </section>

            <!--Call to action
            ============================================================================================================
            -->
            <section class="py-5 text-center ts-background-repeat" data-bg-image={% static '/img/bg__pattern--dot.png' %}>
                <div class="container py-5 my-5">

                    <a href="#" class="btn btn-outline-dark">Вернуться к выбору альбомов</a>

                </div>
            </section>

        </main>
        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        <footer id="ts-footer">
            <section id="ts-footer-main">
                <div class="container">

                    <div class="ts-title">
                        <h2>About Us</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-5">
                            <p>
                                Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum
                                tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis, pharetra et
                                nisl eu, pellentesque molestie erat
                            </p>
                            <a href="#" class="ts-link ts-underline mb-5 mb-md-0 d-inline-block">More About Us</a>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <address class="ts-text-muted---white">
                                1565 Broadcast Drive
                                <br>
                                Dulles, VA 20166
                                <br>
                                <br>
                                <strong>Tel:</strong> +1 703-996-1212
                                <br>
                                <strong>Email:</strong> <a href="#">hello@example.com</a>
                                <br>
                                <strong>Skype:</strong> <a href="#">wearepreus</a>
                                <br>
                            </address>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <nav class="nav flex-column">
                                <a class="nav-link" href="#">Home</a>
                                <a class="nav-link" href="#">About us</a>
                                <a class="nav-link" href="#">Portfolio</a>
                                <a class="nav-link" href="#">Services</a>
                                <a class="nav-link" href="#">Contact</a>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="container py-5">
                    <small>© 2019 Все права защищены</small>
                </div>
            </section>
{% endblock ts-content %}